.top {
    padding-top: 35pt;
    color: white;
    background-color: black;
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 20pt;
}

#image {
    float: left;
    height: 25%;
    width: 25%;
    padding-left: 50pt;
    padding-right: 0pt;
}

.body {
    padding-bottom: 20pt;
    padding-top: 20pt;
    text-align: left;
    background-color: burlywood;
    margin-left: 400pt;
    margin-right: 50pt;
}

h2 {
    font-style: italic;
}
