.typo {
    padding: 1rem 0;
    background-image: linear-gradient(135deg, #215f00, #e4e4d9);
    background-color: #191970;
    color: #FFFF;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .4rem;
    padding-left: .4rem;
}

.typo span {
    display: inline-block;
    opacity: 0;
    transition: -webkit-transform 800ms, opacity 800ms;
    -webkit-transform: translateZ(0), translateY(-6rem);
}

.typo:hover span {
    opacity: 1;
    transition: -webkit-transform 800ms, opacity 1200ms;
    -webkit-transform: translateZ(0), translateY(0);
}

.typo span:nth-child(1) {
    transition-delay: 360ms, 100ms;
}

.typo span:nth-child(2) {
    transition-delay: 620ms, 580ms;
}

.typo span:nth-child(3) {
    transition-delay: 480ms, 400ms;
}

.typo span:nth-child(4) {
    transition-delay: 540ms, 240ms;
}

.typo span:nth-child(5) {
    transition-delay: 600ms, 350ms;
}

.typo span:nth-child(6) {
    transition-delay: 860ms, 160ms;
}

.typo span:nth-child(7) {
    transition-delay: 720ms, 370ms;
}

.typo span:nth-child(8) {
    transition-delay: 450ms, 780ms;
}

.typo span:nth-child(9) {
    transition-delay: 380ms, 490ms;
}

.typo span:nth-child(10) {
    transition-delay: 760ms, 600ms;
}

.typo span:nth-child(11) {
    transition-delay: 680ms, 500ms;
}

.typo span:nth-child(12) {
    transition-delay: 520ms, 650ms;
}